html {
    background-color: gray;
}

.menu {
    display: flex;
    justify-content: center;
}

.index,
.about,
.register,
.catalog {
    border-radius: 15%;
    color: red;
    text-decoration: none;
    border: 2px solid brown;
    padding: 10px;
    margin: 10px;
}


.title {
    margin-top: 50px;
    display: grid;
    text-align: center;
    justify-content: center;
    line-height: 0.7px;
}

.messengers {
    margin-top: 250px;
    display: flex;
    justify-content: center;
}

.fa-youtube {
    margin-top: 10px;
    color: rgb(155, 6, 6);
    font-size: 60px;
    margin-left: 25px;
}

.fa-vk {
    margin-top: 10px;
    color: rgb(34, 1, 180);
    font-size: 60px;
    margin-right: 25px;
}


.photo {
    height: 400px;
}

.photo_title {
    display: grid;
    justify-content: center;
}


.form_register {
    margin: auto;
    width: 400px;
    border-radius: 15%;
    background-color: black;
    border: 5px solid red;
    margin-top: 100px;
    display: grid;
    justify-content: center;
}

.input_register {
    color: yellowgreen;
    background-color: rgb(150, 4, 4);
}

.button_register {
    color: aqua;
    background-color: rgb(150, 4, 4);
}

.input_register::placeholder {
    color: red;
}

.text_register {
    color: rgb(6, 182, 182);
}

.product_img {
    width: 200px;
    height: 300px;
    border-radius: 10%;
}

.product {
    margin-left: 12px;
    margin-right: 12px;
    display: flex;
    background-color: rgb(107, 94, 94);
    border: 2px solid rebeccapurple;
    border-radius: 10%;
    width: 400px;
    height: 300px;
}

.product_description {
    width: 200px;
    margin-right: 20px;
    text-align: center;
}

.product_catalog {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.product_link {
    color: black;
    text-decoration: none;
}

.product_link:hover {
    color: red;
}
