* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Inter;
}

a {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin-top: 40px;
    width: 58%;
    margin-bottom: 84px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.img_logo {
    display: flex;
    max-width: 137px;
    max-height: 40px;
    padding-right: 0.878px;
    justify-content: center;
    align-items: center;
    gap: 14.792px;
}

.link_header {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 14px;
}

.home_header {
    color: #F25822;
}

.top_content {
    width: 58%;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.title_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.text_content {
    max-width: 552px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.title_text {
    color: #000;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.text {
    color: #888;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.button_content {
    display: flex;
    align-items: center;
    gap: 48px;
    align-self: stretch;
}

button {
    width: 140px;
    color: #AAA;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    background: none;
}

.start_button {
    display: flex;
    padding: 16px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 56px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
}

.top_logo {
    width: 100%;
    padding: 100px 0px;
    justify-content: center;
    gap: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.features {
    width: 58%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
    gap: 61px;
}

.features_text, .selection_text {
    opacity: 0.5;
}

.features_elem {
    width: 28%;
    display: grid;
    gap: 25px;
}

.servises {
    width: 58%;
    margin-bottom: 100px;
}

.selection_title {
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 24px;
    margin-bottom: 100px;
}

.selection_text_title, .selection_text {
    max-width: 60%;
    margin: 0 auto; 
}

.servises_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.servises_elem {
    display: grid;
    max-width: 30%;
    margin: 0 auto;
}

.servises_img_div {
    display: grid;
    align-items: center;
}

.servises_img {
    max-width: 100%;
    margin-bottom: 32px;
}

.servises_text {
    display: grid;
    align-items: center;
    gap: 24px;
    text-align: center;
}

.servises_button {
    margin-left: auto;
    margin-right: auto;
    padding: 16px 10px;
    border-radius: 56px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
}